.main{
  width: 100%;
  min-height: 100vh;
  background-color: rgb(233, 203, 105);
  color: rgb(35, 109, 194);
  padding: 2rem 4rem;
}

.flex{
  display: flex;
  flex-direction: column;
}

.add-data{
  margin-top: 2rem;
}

form{
  width: fit-content;
  margin-top: .5rem;
}

.inp-wrp{
  display: flex;
}

.amount{
  margin-left: 4rem;
}

.submit-btn{
  text-align: end;
  margin-top: .5rem;
}

input{
  border: none;
  background-color: rgb(125, 184, 250);
  padding: .5rem .5rem;
  outline: none;
  border-radius: 10px;
  color: white;
}

input[type="text"] {
  width: 20rem;
}

input[type="submit"] {
  border: 2px solid yellow;
  color: white;
  cursor: pointer;
}